[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
pandas = "*"
psycopg2-binary = "*"
requests = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
